@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DE6262;
    background: linear-gradient(to right, #DE6262, #FFB88C);
    color: #fff;

}

#horas {
    font-size: 52px;
}

#data {
    font-size: 32px;
}